body {
  margin: 0;
}

.slughub-header-logo {
  max-width: 30rem;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.intro-text {
  font-size: 200%;
  line-height: 2em;
}